server:
  port: 8888

spring:
  application:
    name: Gateway
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery: Gateway
      enabled: true

eureka:
  instance:
    hostname: localhost
